.box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: blueviolet;
    border-radius: 50%;
}
.ariet{
    width: 200px;
    height: 300px;
    background-color: aqua;
    border: 2px solid firebrick;
    border-radius: 8px;
    box-shadow: 0 5px 6px black;
}